*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "arial";
	font-size: 15px;
	background: #f4f4f4;
	line-height: 1.5em;
}

#container{
	background: #333333;
	margin: 50px auto;
	overflow: auto;
	width: 60%;
	min-height: 650px;
}

header h1{
	color: #ffffff;
	font-size: 22px;
	padding: 15px 0 10px 10px;
	border-bottom: 1px solid #f3f3f3;
}
#shouts{
	width:90%;
	background: #f4f4f4;
	height: 400px;
	margin: 20px auto;
	overflow: auto;
}

.shout{
	list-style: none;
	border-bottom: 1px #cccccc dotted;
	padding: 8px;
}

.shout span{
	color: #aaaaaa;
}

#input{
	margin: auto;
	width: 90%;
	min-height: 80px;
	padding: 0;
}

#input input[type='text']{
	height: 25px;
	width: 48%;
	padding: 3px;
	margin-bottom: 20px;
	border: #666666 solid 1px; 
}

#input .shout_btn{
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
	margin: 10px auto;
} 

.error{
	background: #ffffff;
	margin: 20px auto;
	color: red;
}

@media only screen and (max-width: 950px){
	#input input[type='text']{
		width: 98%;
	}
}